* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  height: 100vh;
  background-color: white;
  display: flex;
}

.game {
  width: 600px;
  height: 600px;
  margin: auto;
}

#game-menu {
  background-color: rgb(29, 29, 29);
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
}

#game-reset {
  cursor: pointer;
  float: right;
}

.game-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.card {
  margin: 0 auto;
  height: 8.5rem;
  transform-style: preserve-3d;
  transition: transform 0.3s;
  cursor: pointer;
  text-align: center;
}

.card img {
  height: 100%;
}

.card:active {
  transform: scale(0.95);
  transition: transform 0.2s ease-in-out;
}

.card.flip {
  transform: rotateY(180deg);
  cursor: pointer;
}

.card.flip .front {
  display: block;
}

.card.flip .back {
  display: none;
}

.back {
  width: auto;
}

.front {
  display: none;
  transform: rotateY(180deg);
}
